.venv/
.qodo/
.vscode/
**/__pycache__/
**/.pytest_cache/
**/.next/
**/node_modules/
**/.env
**/.env.local
**/.env.development.local
**/.env.test.local
**/.env.production.local
**/*.pyc
**/*.pyo
**/*.db-shm
**/*.db-wal
CEP_SEM4/oceanet-platform/OCEANet/backend/data/
CEP_SEM4/oceanet-platform/OCEANet/frontend/tsconfig.tsbuildinfo